$primary-color-1: hsl(189, 90%, 12%);
$primary-color-3: hsl(189, 50%, 22%);
$primary-color-5: hsl(189, 50%, 42%);
$primary-color-9: hsl(189, 90%, 82%);

$contrast-color-5: hsl(30, 90%, 52%);

$failure-color-5: hsl(2, 50%, 42%);
$success-color-5: hsl(102, 50%, 42%);

$grey-1: hsl(189, 10%, 5%);
$grey-3: hsl(189, 10%, 30%);
$grey-5: hsl(189, 10%, 52%);
$grey-7: hsl(189, 10%, 72%);
$grey-9: hsl(189, 10%, 92%);

$white: hsl(189, 0%, 99%)
